* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    text-align: center;
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.header .logo {
    height: 35px;
}

.header .menu {
    height: 18px;
    width: 32px;
}

.hero-banner img {
    max-width: 100%;
}

.main-container {
    padding: 48px 16px;
    max-width: 100vw;
}

.main-header {
    color: #151515;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: -.5px;
    padding-bottom: 16px;
}

.main-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #686868;
    padding-bottom: 24px;
}

.button {
    color: #FAFAFA;
    background-color: #151515;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -.22px;
    padding: 10px 20px;
    width: 136px;
    height: 48px;
}

.foot-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 48px 16px 16px 16px;
}

.foot-logo {
    width: fit-content;

}
